.introduction {
  font-size: 18px !important;
  line-height: 1.67 !important;
  letter-spacing: 0.7px !important;
}

.line {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}

.line-number {
  width: 14px !important;
  margin-right: 1.5rem !important;
  opacity: 0.33 !important;
}

.line-content,
.line-content mark {
  font-size: 18px !important;
  line-height: 30px !important;
  letter-spacing: 4px !important;
  opacity: 85% !important;
}
.line-content mark {
  letter-spacing: 6px !important;
}

.empty-line {
  /*background: -webkit-linear-gradient(top, #252423, #252525);
  background: linear-gradient(to bottom, #252423, #252525);*/
}
.empty-line .line-number {
  display: block !important;
}
.empty-line .line-number-a {
  opacity: 0.15 !important;
}
.empty-line .line-number-b {
  opacity: 0.1 !important;
}
.empty-line .line-number-c {
  opacity: 0.05 !important;
}
.empty-line .line-number-d {
  opacity: 0.04 !important;
}
mark {
  background: transparent;
  color: rgba(252, 41, 74, 0.99) !important;
}


@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500");
body {
    text-align: center !important;
    overflow-x: hidden !important;
    background-color: #252423 !important;
    color: white !important;
    font-family: 'Source Code Pro', monospace !important;
}
html {
    height: 100% !important;
}
a
{
	text-decoration: none !important;
}
@font-face
{
	font-family: supercellmagic;
	src: url('Supercell-magic-webfont.ttf');
}
@font-face
{
	font-family: rexlia;
	src: url('rexlia-rg.ttf');
}

.paraeducar
{
	font-family: Supercellmagic !important;
}
.haicitempera
{
	font-family: rexlia !important;
}
.right
{
	z-index: 2 !important;
}
small
{
	font-size: 0.6em !important;
}
.paraeducar>img
{
	width: 100px !important;
	height: 100px !important;
}
.haicitempera>img
{
	width: 220px !important;
	height: 100px !important;
}
@font-face
{
	font-family: felixtitling;
	src: url('FELIXTI.ttf');
}
.conteudo
{
	font-family: felixtitling !important;
	font-weight: bolder !important;
	text-transform: uppercase !important;
}
.left>img
{
	width: 400px !important;
	height: 400px !important;
	border-radius: 400px !important;
}
aside
{
  font-size: 1.5em !important;
  margin-left: -10px !important;
  margin-right: -10px !important;
}
.contact
{
  background-color: white !important;
  color: #252423 !important;
}
.skills>div>img
{
  width: 200px !important !important;
  height: 200px !important;
  padding-left: 25px !important;
}
.projects
{
  background-color: #353535 !important;
}
.skills>div
{
  width: 33.33% !important;
}
/*.html
{
  float: left;
}
.css
{
  float: left;
}
.js
{
  float: left;
}
.php
{
  float: right;
}
.mysql
{
  float: right;
}
.jquery
{
}*/
.contact
{
  letter-spacing: 8px !important;
}
.contact>img
{
  border-radius: 200px !important;
  width: 150px !important;
  height: 150px !important;
}
.email
{
  color: orange !important;
}
.contato
{
  color: green !important;
}
.cel
{
 color: orange !important;
}
.wpp
{
 color: green !important;
}
.skills
{
  background-color: #252525 !important;
}
.formation, .experience
{
  text-align: left !important;
  font-size: 18px !important;
  line-height: 1.67 !important;
  letter-spacing: 0.7px !important;
  margin-left: 5% !important;
}
.white
{
  background-color: white !important;
  height: 15px !important;
}
.white-fixed {
  margin-top: -10px;
  -webkit-animation: pulsate 5s linear infinite !important;
  -moz-animation: pulsate 5s linear infinite !important;
  animation: pulsate 5s linear infinite !important;
}

.white-fixed {
  color: rgba(255, 255, 255, 0.2) !important;
  font-size: 40px !important;
  height: 10px !important;
}

@-webkit-keyframes pulsate {
  0% {
    background: black !important;
  }
  20% {
    background: red !important;
  }
  40% {
    background: yellow !important;
  }
  60% {
    background: green !important;
  }
  80% {
    background: blue !important;
  }
  100% {
    background: black !important;
  }
}
@-moz-keyframes pulsate {
  0% {
    background: black !important;
  }
  20% {
    background: red !important;
  }
  40% {
    background: blue !important;
  }
  60% {
    background: orange !important;
  }
  80% {
    background: green !important;
  }
  100% {
    background: black !important;
  }
}
@keyframes pulsate {
  0% {
    background: black !important;
  }
  20% {
    background: red !important;
  }
  40% {
    background: blue !important;
  }
  60% {
    background: orange !important;
  }
  80% {
    background: green !important;
  }
  100% {
    background: black !important;
  }
}
//fim
.mlrem
{
  margin-right: 4rem !important;
}
.html5
{
 color: #E44D25 !important;
}
.css3
{
 color: #1B84B7 !important;
}
.js
{
 color: #D5BA32 !important
}
.jquery
{
  color: #C94340 !important;
}
.php
{
  color: #85C320 !important;
}
.mysql
{
  color: #F96D11 !important;
}
.code
{
  color: purple !important;
}
.space
{
  margin-right: 4rem !important;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}